	<ion-view view-title=" Tentang Kami" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class=" page-about_us">
		<div class="padding scroll">

    <div class="padding about-us-box">
        <h2>WWME Indonesia</h2>
        <div>
            Aplikasi Resmi Worldwide Marriage Encounter Indonesia
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about-us-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://facebook.com/wwmeindonesia')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://instagram.com/wwmeindonesia')" >
        <i class="assertive icon ion-social-instagram"></i>
        Like us on Instagram
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('whatsapp://send?text=Halo WWME Indonesia!&phone=+6288210455894')" >
        <i class="assertive icon ion-social-whatsapp"></i>
        Contact our Whatsapp
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mailto:halo@wwmeindonesia.org')" >
        <i class="icon ion-android-mail royal"></i>
        <p>
            Email: halo@wwmeindonesia.org
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/>
<br/>
<br/>


		</ion-content>
		<!-- ./content -->
	</ion-view>
