	<ion-view view-title=" Staff Relasi" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-pengurus_relasi" class=" page-pengurus_relasi">
			<div class="slide-box-hero">
		<ion-slides class="slide-box-hero-content" options="{slidesPerView:1,autoplay:10000,loop:1}" slider="data.slider">
			<ion-slide-page>
				<img ng-src="data/images/images/KornasMenyapa.png" class="" />
			</ion-slide-page>
			<ion-slide-page>
				<img ng-src="data/images/images/relasiredaksi.jpg" class="" />
			</ion-slide-page>          
		</ion-slides>
	</div>

<div class="card">
  <div class="item item-text-wrap">
    <p align=center><b>Penanggung Jawab - Kornas ME</b><br>
    	Meme-Jacob, Pastor Akik<br><br>
    	<b>Pemimpin Umum</b><br>
    	Elly-Rusli, Pastor Y. Chris Purba, SJ<br><br>
		<b>Pemimpin Redaksi</b><br>
    	Budi-Hong, Irwan-Mona<br><br>
		<b>Bina Usaha</b><br>
    	Ake-Mega, Chris-Lely, Alfred-Lanni<br><br>
		<b>Humas</b><br>
    	Betty-Irwan, Ina-Hardono<br><br>
		<b>Kontributor</b><br>
    	Endang-Agung<br><br>
		<b>Bendahara</b><br>
    	Paul-Cecil<br><br>
		<b>Editor</b><br>
    	Kurni-Topo, Budi-Regina, Dwi-Sandra<br><br>
		<b>Design Grafis</b><br>
    	Martin-Novi<br><br>
		<b>Teknologi Informasi</b><br>
    	Seno-Lilin, Julius-Inge<br><br>
		<b>Pengiriman Naskah</b><br>
    	naskah@relasi.me<br><br>      
		<b>Untuk Kontribusi</b><br>
    	Tahapan BCA, KCP Kebayoran Blok M A/C 679.0064.133 A/N P. Darmoko Ir. Setelah transfer mohon SMS/ WA ke 0811 8775 567 (Paul-Cecil)<br><br>      
    </p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
