	<ion-view view-title=" Download PDF" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-download_pdf" class="page-download_pdf">
		<div class="padding">
  <div >
    <h4>Majalah Relasi (PDF)</h4>
    <p>Saat ini kami sedang siapkan agar anda dapat mengunduh majalah RELASI dalam bentuk format PDF sehingga anda dapat membaca secara offline dari smartphone atau tablet anda.</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
